:host ::ng-deep .p-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.4);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 1000 !important;
}

.modal {
  background: #fff;
  border-radius: 12px;
  width: 480px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  

  input, select {
    padding: 6px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
  }

  button {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 6px;
  }
}