.page {
  padding: 1.5rem;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

p-table {
  min-width: 60rem;
}

