<p-overlay [visible]="isVisible" (onHide)="close()">
  <div class="modal">
    <h2>Stock History</h2>
    <div class="table-container">
      <p-table [value]="stockHistory">
        <ng-template pTemplate="header">
          <tr>
            <th>Date</th>
            <th>Stock Type</th>
            <th>Quantity</th>
            <th>Balance Quantity</th>
            <th>Remarks</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-h>
          <tr>
            <td style="width: 170px">
              {{ h.createdAt | date:'y MMM dd h:mm a' }}
            </td>
            <td>{{ h.stockType }}</td>
            <td>{{ h.quantity }}</td>
            <td>{{ h.balanceQuantity }}</td>
            <td>{{ h.remarks }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <button (click)="close()">Close</button>
  </div>
</p-overlay>
